# Dependency directories
node_modules/
interface/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Telemetry outputs
telemetry_node.json

# Old console files
console/

# Log files
*.log
logs/

# Python Virtual Environments
.venv/
__pycache__/
*.pyc

# Video binaries
*.mp4
*.webm
*.mov
